.container-menu {
    display: flex;
    flex-direction: column;
    width: 170px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #2C86C9 0%, rgba(255, 255, 255, 0) 100%), #3878C4;
}




.container-menu .home-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.container-menu .home-menu img{
    width: 90px;
    height: 90px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.452);
}

.container-menu .body-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.container-menu .body-menu a {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
}
.container-menu .body-menu a:hover {
    font-size: 21px;
}

.container-menu .body-menu hr {
    height: 0px;
    width: 120px;
    margin-bottom: 10px;
}

.container-menu .footer-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    
}

.container-menu .footer-menu a{
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.container-menu .footer-menu button{
    margin-top: 60px;
    margin-bottom: 30px;
    cursor: pointer;
    border-width: 0px;
    background-color: transparent;
}

.container-menu .footer-menu a:hover{
    font-size: 25px;
}
.container-menu .footer-menu span:hover{
    font-size: 45px;
}

.button-float button{
    visibility: hidden;
    position: absolute;
    left: 190px;
    top: 10px;
    border-width: 0px;
    background-color: transparent;
}

@media only screen and (max-width:760px){
    .button-float button{
        visibility: visible;
    }
    .container-menu {
            padding:0 5px 0 0;
            transition: all 0.5s ease-in;
            font-size:1.2em;
            height:100%;
            width:180px; 
            position:fixed;
            top:0;
            left:-180px;
            }
    .container-menu:before {
        z-index: 0;
        font-size:2em;
        color:white;
        position:fixed;
        left:0px;
        top:45px;
    }
    .container-menu:hover:before, .container-menu:focus:before {
        left:-10px
    }
    .container-menu:hover, .container-menu:focus,  .container-menu:active  {
            -moz-transform: translate(100px, 0);
                -webkit-transform: translate(100px, 0);
                    -o-transform: translate(100px, 0);
                        transform: translate(180px, 0);
            padding-right:0;
    }	
}

